/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand-1: #000000;
    --vp-c-brand-2: #3d3b3b;
    --vp-c-brand-3: #8b8585;
    --vp-c-brand-soft: rgba(114, 109, 109, 0.14);
    --vp-c-bg-soft: #f2efef;

    --vp-sidebar-bg-color: var(--vp-c-bg);
    --vp-button-brand-active-bg: var(--vp-c-brand-3);
    --vp-button-alt-bg: var(--vp-c-bg-soft);
    --vp-button-alt-hover-bg: var(--vp-c-bg-soft);
    --vp-button-alt-active-bg: var(--vp-c-bg-soft);
}

.vp-doc div[class*='language-'] {
    outline: 1px solid var(--vp-c-brand-soft);
    outline-offset: 4px;
    margin: 4px;
}

.VPFeature {
    outline: 1px solid var(--vp-c-brand-soft);
    outline-offset: 4px;
    margin: 4px;
}

.VPButton {
    border: 1px solid var(--vp-c-brand-3);
}

.VPNavBarTitle .title {
    border-bottom: 0;
}

.VPFooter {
    border-top: 0 !important;
}

.divider {
    display: none;
}

.vp-doc .custom-block {
    outline: 1px solid var(--vp-c-brand-soft);
    outline-offset: 4px;
    margin: 24px 4px;
    padding: 8px;
}

.dark {
    --vp-c-brand-1: #ffffff;
    --vp-c-brand-2: #cbc4c4;
    --vp-c-brand-3: #8a8585;
    --vp-c-brand-soft: rgba(115, 110, 110, 0.14);
    --vp-c-bg: #121212;
    --vp-c-bg-soft: #2f2e2e;

    --vp-sidebar-bg-color: var(--vp-c-bg);
    --vp-button-brand-active-bg: var(--vp-c-brand-3);
    --vp-button-alt-bg: var(--vp-c-bg-soft);
    --vp-button-alt-hover-bg: var(--vp-c-bg-soft);
    --vp-button-alt-active-bg: var(--vp-c-bg-soft);
}
